<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="lmmAspect" class="com.aspect.LmmAspect"></bean>
    <bean id="aspectBiz" class="com.aspect.AspectBiz"></bean>

    <aop:config>
        <aop:aspect id="lmmAspectAop" ref="lmmAspect">
            <!--<aop:pointcut expression="execution(com.aspect.*Biz.before)" id="lmmPointcut"/>-->
            <!--<aop:before method="before" pointcut-ref="lmmPointcut"/>-->
            
            <aop:declare-parents types-matching="com.aspect.*" implement-interface="com.aspect.Fit" default-impl="com.aspect.FitImpl"/>
            
        </aop:aspect>
    </aop:config>

</beans>